{
  "log": {
    "_recordingName": "fetch-issues",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "15eb05993a6109084806a835a0206b6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query issues($after: String, $before: String, $filter: IssueFilter, $first: Int, $includeArchived: Boolean, $last: Int, $orderBy: PaginationOrderBy) {\\n  issues(\\n    after: $after\\n    before: $before\\n    filter: $filter\\n    first: $first\\n    includeArchived: $includeArchived\\n    last: $last\\n    orderBy: $orderBy\\n  ) {\\n    ...IssueConnection\\n  }\\n}\\n\\nfragment IssueConnection on IssueConnection {\\n  __typename\\n  nodes {\\n    ...Issue\\n  }\\n  pageInfo {\\n    ...PageInfo\\n  }\\n}\\n\\nfragment Issue on Issue {\\n  __typename\\n  trashed\\n  url\\n  identifier\\n  priorityLabel\\n  previousIdentifiers\\n  customerTicketCount\\n  branchName\\n  cycle {\\n    id\\n  }\\n  dueDate\\n  estimate\\n  description\\n  title\\n  number\\n  updatedAt\\n  boardOrder\\n  sortOrder\\n  subIssueSortOrder\\n  parent {\\n    id\\n  }\\n  priority\\n  project {\\n    id\\n  }\\n  projectMilestone {\\n    id\\n  }\\n  team {\\n    id\\n  }\\n  archivedAt\\n  createdAt\\n  startedTriageAt\\n  triagedAt\\n  autoArchivedAt\\n  autoClosedAt\\n  canceledAt\\n  completedAt\\n  startedAt\\n  snoozedUntilAt\\n  id\\n  assignee {\\n    id\\n  }\\n  creator {\\n    id\\n  }\\n  snoozedBy {\\n    id\\n  }\\n  favorite {\\n    id\\n  }\\n  state {\\n    id\\n  }\\n}\\n\\nfragment PageInfo on PageInfo {\\n  __typename\\n  startCursor\\n  endCursor\\n  hasPreviousPage\\n  hasNextPage\\n}\\n\",\"variables\":{}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1551,
            "text": "{\"data\":{\"issues\":{\"__typename\":\"IssueConnection\",\"nodes\":[{\"__typename\":\"Issue\",\"trashed\":null,\"url\":\"https://linear.app/testito/issue/INT-3/subby-wubby\",\"identifier\":\"INT-3\",\"priorityLabel\":\"No priority\",\"previousIdentifiers\":[],\"customerTicketCount\":0,\"branchName\":\"juliazolotarev/int-3-subby-wubby\",\"cycle\":null,\"dueDate\":null,\"estimate\":null,\"description\":null,\"title\":\"subby wubby\",\"number\":3,\"updatedAt\":\"2023-08-07T18:00:46.135Z\",\"boardOrder\":0,\"sortOrder\":-1885,\"subIssueSortOrder\":-15,\"parent\":{\"id\":\"df55f5e3-4628-4600-b5eb-5003e456a289\"},\"priority\":0,\"project\":{\"id\":\"22fc14de-72c8-4591-85b6-3512afa31fd2\"},\"projectMilestone\":null,\"team\":{\"id\":\"eb3a17f7-7686-49a0-8e1c-b3de67e1e0cd\"},\"archivedAt\":null,\"createdAt\":\"2023-08-07T17:01:01.209Z\",\"startedTriageAt\":null,\"triagedAt\":null,\"autoArchivedAt\":null,\"autoClosedAt\":null,\"canceledAt\":null,\"completedAt\":null,\"startedAt\":null,\"snoozedUntilAt\":null,\"id\":\"c3f8628b-881f-434a-8326-def60c57760e\",\"assignee\":null,\"creator\":{\"id\":\"fcd6aad0-7c76-413c-ab8b-23a80551badd\"},\"snoozedBy\":null,\"favorite\":null,\"state\":{\"id\":\"689bb9f9-3479-435b-9bac-43df323df3ed\"}},{\"__typename\":\"Issue\",\"trashed\":null,\"url\":\"https://linear.app/testito/issue/INT-2/yo\",\"identifier\":\"INT-2\",\"priorityLabel\":\"No priority\",\"previousIdentifiers\":[],\"customerTicketCount\":0,\"branchName\":\"juliazolotarev/int-2-yo\",\"cycle\":null,\"dueDate\":null,\"estimate\":null,\"description\":null,\"title\":\"yo\",\"number\":2,\"updatedAt\":\"2023-08-07T17:01:01.405Z\",\"boardOrder\":0,\"sortOrder\":-946,\"subIssueSortOrd[...]
