{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "15eb05993a6109084806a835a0206b6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query organization {\\n  organization {\\n    ...Organization\\n  }\\n}\\n\\nfragment Organization on Organization {\\n  __typename\\n  allowedAuthServices\\n  gitBranchFormat\\n  userCount\\n  createdIssueCount\\n  previousUrlKeys\\n  periodUploadVolume\\n  projectUpdateRemindersHour\\n  updatedAt\\n  logoUrl\\n  name\\n  subscription {\\n    ...PaidSubscription\\n  }\\n  urlKey\\n  deletionRequestedAt\\n  archivedAt\\n  createdAt\\n  trialEndsAt\\n  id\\n  samlEnabled\\n  scimEnabled\\n  gitLinkbackMessagesEnabled\\n  gitPublicLinkbackMessagesEnabled\\n  roadmapEnabled\\n}\\n\\nfragment PaidSubscription on PaidSubscription {\\n  __typename\\n  creator {\\n    id\\n  }\\n  canceledAt\\n  nextBillingAt\\n  updatedAt\\n  seatsMaximum\\n  seatsMinimum\\n  seats\\n  pendingChangeType\\n  type\\n  archivedAt\\n  createdAt\\n  id\\n}\\n\",\"variables\":{}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 543,
            "text": "{\"data\":{\"organization\":{\"__typename\":\"Organization\",\"allowedAuthServices\":[],\"gitBranchFormat\":null,\"userCount\":5,\"createdIssueCount\":14,\"previousUrlKeys\":[],\"periodUploadVolume\":0,\"projectUpdateRemindersHour\":14,\"updatedAt\":\"2023-08-08T14:27:12.636Z\",\"logoUrl\":null,\"name\":\"Janus Squad\",\"subscription\":null,\"urlKey\":\"testito\",\"deletionRequestedAt\":null,\"archivedAt\":null,\"createdAt\":\"2022-12-13T18:39:05.120Z\",\"trialEndsAt\":null,\"id\":\"2ca4f1b6-446c-436d-a442-b2278b641c7b\",\"samlEnabled\":false,\"scimEnabled\":false,\"gitLinkbackMessagesEnabled\":true,\"gitPublicLinkbackMessagesEnabled\":false,\"roadmapEnabled\":false}}}\n"
          },
            {
              "domain": ".linear.app",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-complexity",
              "value": "9"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999991"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1691582236118"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "1500"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "1499"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1691582236118"
            },
            {
              "name": "etag",
              "value": "W/\"268-B8AKSOacbJdIvgVPj2P4kh4zctc\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 596,
      },
      {
        "_id": "15eb05993a6109084806a835a0206b6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "applicat[...]
