{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "15eb05993a6109084806a835a0206b6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query viewer {\\n  viewer {\\n    ...User\\n  }\\n}\\n\\nfragment User on User {\\n  __typename\\n  statusUntilAt\\n  description\\n  avatarUrl\\n  createdIssueCount\\n  disableReason\\n  statusEmoji\\n  statusLabel\\n  updatedAt\\n  lastSeen\\n  timezone\\n  archivedAt\\n  createdAt\\n  id\\n  displayName\\n  email\\n  name\\n  inviteHash\\n  url\\n  active\\n  guest\\n  admin\\n  isMe\\n  calendarHash\\n}\\n\",\"variables\":{}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 635,
            "text": "{\"data\":{\"viewer\":{\"__typename\":\"User\",\"statusUntilAt\":null,\"description\":null,\"avatarUrl\":\"https://public.linear.app/f57cd6f6-fedb-48ef-89df-da689ec54c4c/3331655d-abc0-41c3-bf6d-d1c38f56a9cc\",\"createdIssueCount\":0,\"disableReason\":null,\"statusEmoji\":null,\"statusLabel\":null,\"updatedAt\":\"2023-08-01T22:55:45.151Z\",\"lastSeen\":\"2023-08-04T21:56:14.159Z\",\"timezone\":\"America/Sao_Paulo\",\"archivedAt\":null,\"createdAt\":\"2023-08-01T22:55:08.987Z\",\"id\":\"f57cd6f6-fedb-48ef-89df-da689ec54c4c\",\"displayName\":\"geovanni.pacheco\",\"email\":\"geovanni.pacheco@jupiterone.com\",\"name\":\"Geovanni Pacheco (Contractor)\",\"inviteHash\":\"7c49a87b5f21ada4\",\"url\":\"https://linear.app/testito/profiles/geovanni.pacheco\",\"active\":true,\"guest\":false,\"admin\":true,\"isMe\":true,\"calendarHash\":null}}}\n"
          },
            {
              "domain": ".linear.app",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-complexity",
              "value": "4"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999978"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1691581493942"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "1500"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "1495"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1691581493942"
            },
            {
              "name": "etag",
              "value": "W/\"2fe-f0jwvUAg80a4+liNhAMTKF9rZvE\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 440,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
