{
  "log": {
    "_recordingName": "incorrect-access-token-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "15eb05993a6109084806a835a0206b6f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query viewer {\\n  viewer {\\n    ...User\\n  }\\n}\\n\\nfragment User on User {\\n  __typename\\n  statusUntilAt\\n  description\\n  avatarUrl\\n  createdIssueCount\\n  disableReason\\n  statusEmoji\\n  statusLabel\\n  updatedAt\\n  lastSeen\\n  timezone\\n  archivedAt\\n  createdAt\\n  id\\n  displayName\\n  email\\n  name\\n  inviteHash\\n  url\\n  active\\n  guest\\n  admin\\n  isMe\\n  calendarHash\\n}\\n\",\"variables\":{}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 250,
            "text": "{\"errors\":[{\"message\":\"Authentication required, not authenticated\",\"extensions\":{\"code\":\"AUTHENTICATION_ERROR\",\"type\":\"authentication error\",\"userError\":true,\"userPresentableMessage\":\"You need to authenticate to access this operation.\",\"meta\":{}}}]}\n"
          },
            {
              "domain": ".linear.app",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"fa-D6JWzDDRqIRUOk1O3gDRuI97VYE\""
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 197,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
